@use '../../styles/utilities/flow';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  text-align: center;
  margin-bottom: flow.$margin-md;
}

.heading2 {
  color: var(--clr-neutral-600);
}

.heading4 {
  color: var(--clr-tertiary-300);
}

.heading5 {
  max-width: 70rem;
}
